*{margin: 0;padding: 0;list-style: none;}

#div {
    width: 0px;
    height: 0px;
    background: red;
    position: fixed;
    top: 70%;
    left: 50%;
}
        
.mui-popover .mui-popover-arrow:after {
    width: 0px;
}


.pet_interface{
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    background: linear-gradient(top,rgb(199, 195, 197,0.6),#f9f6c9);
}

.pet_head .head{
    display: flex;
    text-align: left;
    padding: 0;
    width: 100%;
    margin-top: 0;
    flex-direction: column;
}

.pet_head .head .xiaoqu{
    border-bottom:2px solid rgb(102, 96, 92);
    text-align: left;
    font-size: 20px;
    background:rgb(238, 242, 243);
    padding: 10px;
}

.pet_head .head li i{
    padding: 5px 10px;
    color: rgb(231, 46, 170);
    font-size: 20px; 
}
.pet_head .head .tongzhi{
    text-align: left;
    background:rgb(208, 210, 211);
    padding: 3px;
}


/* 宠物部分 */
.pet_interface_pet{
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* 圆圈和背包 */
.pet_interface_pet_top{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
}

/* 圆圈 */
.pet_interface_pet_top ul li{
    /* margin-bottom: 3%; */
}

.pet_interface_pet_top ul li img{
    width: 40%;
}

/* 背包 */
.pet_interface_pet_top .bag_img{
    /* margin-right: 5%; */
}

/* 设置背包图片的大小 */
.pet_interface_pet_top .bag_img img{
    width: 40%;
}


/* 进度条 */
.progress_bar{
    display: flex;
    width: 120px;
    height: 60px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 20px;
    margin: 25% auto 0;
    /* background-color: #ffdacb; */
}

.progress_bar p{
    color: rgb(104, 206, 247);
    margin: 3% auto 0;
}

.progress_bar .clip{
   
    height: 30px;
    border-radius: 20px;
    background-color: rgb(255, 218, 203);
}

.bar_number{
    color: rgb(85, 175, 236);
}


/* 宠物蛋 */
 .egg_img{
    display: flex;
    background-image: url(../../assets/img/pet/gegg.png);
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    background-size: auto 100%;
    height: 100%;
}


/* 弹框 */
/* 血量 */
.frame .f_title{
    width: 100%;
    height: 50px;
    line-height: 30px;
    padding: 10px 10px;
    border-bottom: 1px solid rgb(184, 181, 181);
}

 .frame .f_title i{
     color: rgb(230, 28, 28);
 }

.frame .haoyou{
    width: 100%;
    height: 40px;
    line-height: 20px;
    padding: 10px 10px;
    border-bottom: 1px solid rgb(184, 181, 181);
    text-align: left;
    background-color: rgb(233, 233, 211);
}

.frame .haoyou i{
    color: rgb(0, 174, 255); 
}

.frame .haoyou .add_haoyou{
    display: inline-block;
    padding-left: 35px;
}

.frame .list_one{
    width: 100%;
    height: 50px;
    line-height: 40px;
    padding: 10px 10px;
    background-color: rgb(255, 255, 255, 0.8);
    border-bottom: 1px solid rgb(184, 181, 181);
    text-align: left;
    font-size: 5px;
}

.frame .list_one i{
    color: rgb(226, 223, 42);
    padding: 10px 10px;
}

.frame .list_one .head_frame{
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid rgb(184, 181, 181);
    border-radius: 50%;
    margin-left: 10px;
}

.frame .list_one .head_frame img{
    width: 30px;
    height: 30px;
    border-radius: 50%; 
}

.frame .list_one span{
    display: inline-block;
    margin-left: 10px;
}


 .frame .list_two{
    width: 100%;
    height: 50px;
    line-height: 40px;
    padding: 10px 10px;
    background-color: rgb(255, 255, 255, 0.8);
    border-bottom: 1px solid rgb(184, 181, 181);
    text-align: left;
    font-size: 5px;
}

.frame .list_two i{
    color: rgb(168, 165, 161);
    padding: 10px 10px;
}

.frame .list_two .head_frame{
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid rgb(184, 181, 181);
    border-radius: 50%;
    margin-left: 10px;
}

.frame .list_two .head_frame img{
    width: 30px;
    height: 30px;
    border-radius: 50%; 
}

.frame .list_two span{
    display: inline-block;
    margin-left: 10px;
}


.frame .list_three{
    width: 100%;
    height: 50px;
    line-height: 40px;
    padding: 10px 10px;
    background-color: rgb(255, 255, 255, 0.8);
    border-bottom: 1px solid rgb(184, 181, 181);
    text-align: left;
    font-size: 5px;
}

.frame .list_three i{
    color: rgb(240, 169, 76);
    padding: 10px 10px;
}

.frame .list_three .head_frame{
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid rgb(184, 181, 181);
    border-radius: 50%;
    margin-left: 10px;
}

.frame .list_three .head_frame img{
    width: 30px;
    height: 30px;
    border-radius: 50%; 
}

.frame .list_three span{
    display: inline-block;
    margin-left: 10px;
}


.frame .list_my{
    width: 100%;
    height: 50px;
    line-height: 40px;
    padding: 10px 10px;
    background-color: rgb(121, 211, 238, 0.8);
    border-bottom: 1px solid rgb(184, 181, 181);
    text-align: left;
    font-size: 5px;
}

.frame .list_my i{
    color: rgb(240, 169, 76);
    padding: 10px 10px;
}

.frame .list_my .head_frame{
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid rgb(184, 181, 181);
    border-radius: 50%;
    margin-left: 10px;
}

.frame .list_my .head_frame img{
    width: 30px;
    height: 30px;
    border-radius: 50%; 
}

.frame .list_my span{
    display: inline-block;
    margin-left: 10px;
}


/* 技能 */
.frame_skill .f_title{
    width: 100%;
    height: 50px;
    line-height: 30px;
    padding: 10px 10px;
    border-bottom: 1px solid rgb(184, 181, 181);
}

 .frame_skill .f_title i{
     color: rgb(28, 173, 230);
 }

.frame_skill .haoyou{
    width: 100%;
    height: 40px;
    line-height: 20px;
    padding: 10px 10px;
    border-bottom: 1px solid rgb(184, 181, 181);
    text-align: left;
    background-color: rgb(233, 233, 211);
}

.frame_skill .haoyou i{
    color: rgb(0, 174, 255); 
}

.frame_skill .haoyou .add_haoyou{
    display: inline-block;
    padding-left: 35px;
}

.frame_skill .list_one{
    width: 100%;
    height: 50px;
    line-height: 40px;
    padding: 10px 10px;
    background-color: rgb(255, 255, 255, 0.8);
    border-bottom: 1px solid rgb(184, 181, 181);
    text-align: left;
    font-size: 5px;
}

.frame_skill .list_one i{
    color: rgb(226, 223, 42);
    padding: 10px 10px;
}

.frame_skill .list_one .head_frame{
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid rgb(184, 181, 181);
    border-radius: 50%;
    margin-left: 10px;
}

.frame_skill .list_one .head_frame img{
    width: 30px;
    height: 30px;
    border-radius: 50%; 
}

.frame_skill .list_one span{
    display: inline-block;
    margin-left: 10px;
}


 .frame_skill .list_two{
    width: 100%;
    height: 50px;
    line-height: 40px;
    padding: 10px 10px;
    background-color: rgb(255, 255, 255, 0.8);
    border-bottom: 1px solid rgb(184, 181, 181);
    text-align: left;
    font-size: 5px;
}

.frame_skill .list_two i{
    color: rgb(168, 165, 161);
    padding: 10px 10px;
}

.frame_skill .list_two .head_frame{
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid rgb(184, 181, 181);
    border-radius: 50%;
    margin-left: 10px;
}

.frame_skill .list_two .head_frame img{
    width: 30px;
    height: 30px;
    border-radius: 50%; 
}

.frame_skill .list_two span{
    display: inline-block;
    margin-left: 10px;
}


.frame_skill .list_three{
    width: 100%;
    height: 50px;
    line-height: 40px;
    padding: 10px 10px;
    background-color: rgb(255, 255, 255, 0.8);
    border-bottom: 1px solid rgb(184, 181, 181);
    text-align: left;
    font-size: 5px;
}

.frame_skill .list_three i{
    color: rgb(240, 169, 76);
    padding: 10px 10px;
}

.frame_skill .list_three .head_frame{
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid rgb(184, 181, 181);
    border-radius: 50%;
    margin-left: 10px;
}

.frame_skill .list_three .head_frame img{
    width: 30px;
    height: 30px;
    border-radius: 50%; 
}

.frame_skill .list_three span{
    display: inline-block;
    margin-left: 10px;
}


.frame_skill .list_my{
    width: 100%;
    height: 50px;
    line-height: 40px;
    padding: 10px 10px;
    background-color: rgb(121, 215, 238, 0.8);
    border-bottom: 1px solid rgb(184, 181, 181);
    text-align: left;
    font-size: 5px;
}

.frame_skill .list_my i{
    color: rgb(240, 169, 76);
    padding: 10px 10px;
}

.frame_skill .list_my .head_frame{
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid rgb(184, 181, 181);
    border-radius: 50%;
    margin-left: 10px;
}

.frame_skill .list_my .head_frame img{
    width: 30px;
    height: 30px;
    border-radius: 50%; 
}

.frame_skill .list_my span{
    display: inline-block;
    margin-left: 10px;
}



/* 武力 */
.frame_force .f_title{
    width: 100%;
    height: 50px;
    line-height: 30px;
    padding: 10px 10px;
    border-bottom: 1px solid rgb(184, 181, 181);
}

 .frame_force .f_title i{
     color: rgb(230, 28, 163);
 }

.frame_force .haoyou{
    width: 100%;
    height: 40px;
    line-height: 20px;
    padding: 10px 10px;
    border-bottom: 1px solid rgb(184, 181, 181);
    text-align: left;
    background-color: rgb(233, 233, 211);
}

.frame_force .haoyou i{
    color: rgb(0, 174, 255); 
}

.frame_force .haoyou .add_haoyou{
    display: inline-block;
    padding-left: 35px;
}

.frame_force .list_one{
    width: 100%;
    height: 50px;
    line-height: 40px;
    padding: 10px 10px;
    background-color: rgb(255, 255, 255, 0.8);
    border-bottom: 1px solid rgb(184, 181, 181);
    text-align: left;
    font-size: 5px;
}

.frame_force .list_one i{
    color: rgb(226, 223, 42);
    padding: 10px 10px;
}

.frame_force .list_one .head_frame{
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid rgb(184, 181, 181);
    border-radius: 50%;
    margin-left: 10px;
}

.frame_force .list_one .head_frame img{
    width: 30px;
    height: 30px;
    border-radius: 50%; 
}

.frame_force .list_one span{
    display: inline-block;
    margin-left: 10px;
}


 .frame_force .list_two{
    width: 100%;
    height: 50px;
    line-height: 40px;
    padding: 10px 10px;
    background-color: rgb(255, 255, 255, 0.8);
    border-bottom: 1px solid rgb(184, 181, 181);
    text-align: left;
    font-size: 5px;
}

.frame_force .list_two i{
    color: rgb(168, 165, 161);
    padding: 10px 10px;
}

.frame_force .list_two .head_frame{
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid rgb(184, 181, 181);
    border-radius: 50%;
    margin-left: 10px;
}

.frame_force .list_two .head_frame img{
    width: 30px;
    height: 30px;
    border-radius: 50%; 
}

.frame_force .list_two span{
    display: inline-block;
    margin-left: 10px;
}


.frame_force .list_three{
    width: 100%;
    height: 50px;
    line-height: 40px;
    padding: 10px 10px;
    background-color: rgb(255, 255, 255, 0.8);
    border-bottom: 1px solid rgb(184, 181, 181);
    text-align: left;
    font-size: 5px;
}

.frame_force .list_three i{
    color: rgb(240, 169, 76);
    padding: 10px 10px;
}

.frame_force .list_three .head_frame{
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid rgb(184, 181, 181);
    border-radius: 50%;
    margin-left: 10px;
}

.frame_force .list_three .head_frame img{
    width: 30px;
    height: 30px;
    border-radius: 50%; 
}

.frame_force .list_three span{
    display: inline-block;
    margin-left: 10px;
}


.frame_force .list_my{
    width: 100%;
    height: 50px;
    line-height: 40px;
    padding: 10px 10px;
    background-color: rgb(121, 215, 238, 0.8);
    border-bottom: 1px solid rgb(184, 181, 181);
    text-align: left;
    font-size: 5px;
}

.frame_force .list_my i{
    color: rgb(240, 169, 76);
    padding: 10px 10px;
}

.frame_force .list_my .head_frame{
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid rgb(184, 181, 181);
    border-radius: 50%;
    margin-left: 10px;
}

.frame_force .list_my .head_frame img{
    width: 30px;
    height: 30px;
    border-radius: 50%; 
}

.frame_force .list_my span{
    display: inline-block;
    margin-left: 10px;
}